@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Signika+Negative:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171923;
}

.header {
  text-align: center;
  padding: 50px 0px 20px 0px;
}

span {
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.container-fluid {
  width: 400px;
  height: auto;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  background-color: #1a202c;
  /* padding-bottom: 20px; */
}

.part-1 {
  padding: 35px 30px 35px 30px;
}

.amount {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  border-bottom: 4px solid white;
}

.from {
  padding-top: 20px;
}

.swap {
  padding-top: 18px;
  text-align: center;
}

.swap-btn {
  padding: 7px 16px 7px 16px;
  background-color: #323762b7;
  border-color: #323762b7;
  cursor: pointer;
  border-radius: 14%;
}

.swap button i {
  color: white;
}

.swap button:hover {
  background-color: #242842;
}

.custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  font-size: 17px;
}

.dropdown {
  font-family: "Open Sans", sans-serif;
}

.into {
  margin-top: -11px;
}

.custom-button {
  text-align: center;
  padding-top: 19px;
}

.custom-button i {
  font-size: 15px;
}
.custom-btn {
  background-color: #323762b7;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 8px 46px 8px 46px;
  border-color: #323762b7;
  font-size: 17px;
}

.custom-btn:hover {
  background-color: #242842;
  color: white;
}

.value {
  padding: 17px 0px 0px 0px;
  font-size: 20px;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.answer {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.rate {
  font-size: 22px;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.date {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: #929292;
  padding-top: 10px;
}

.bottom {
  padding-bottom: 60px;
}
@media screen and (max-device-width: 480px) {
  .container-fluid {
    width: 350px;
  }
  span {
    font-size: 30px;
  }
  .part-1 {
    padding: 32px 15px 32px 15px;
  }
}

@media screen and (max-device-width: 375px) {
  .container-fluid {
    width: 320px;
  }

  span {
    font-size: 27px;
  }

  .custom-btn {
    padding: 7px 40px 7px 40px;
  }

  .swap-btn {
    padding: 7px 16px 7px 16px;
  }

  .answer {
    font-size: 35px;
  }

  .rate {
    font-size: 22px;
  }
}

@media screen and (max-device-width: 320px) {
  .container-fluid {
    width: 295px;
  }

  .part-1 {
    padding: 30px 10px 30px 10px;
  }

  span {
    font-size: 26px;
  }

  .custom-btn {
    padding: 9px 40px 9px 40px;
  }

  .value {
    font-size: 18px;
  }

  .answer {
    font-size: 30px;
  }

  .rate {
    font-size: 20px;
  }
}
