@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Signika+Negative:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171923;
}

.header {
  text-align: center;
  padding: 50px 0px 20px 0px;
}

span {
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.container-fluid {
  width: 400px;
  height: auto;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  background-color: #1a202c;
}

.app {
  padding: 35px 30px 35px 30px;
}

.amount {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  border-bottom: 4px solid white;
}

.from {
  padding-top: 20px;
}

.swap {
  padding-top: 18px;
  text-align: center;
}

.swap-btn {
  padding: 7px 16px 7px 16px;
  background-color: #323762b7;
  border-color: #323762b7;
  cursor: pointer;
  border-radius: 14%;
}

.swap button i {
  color: white;
}

.swap button:hover {
  background-color: #242842;
}

.custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  font-size: 17px;
}

.dropdown {
  font-family: "Open Sans", sans-serif;
}

.into {
  margin-top: -11px;
}

.value {
  padding: 17px 0px 0px 0px;
  font-size: 20px;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.answer {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.rate {
  font-size: 22px;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.date {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: #929292;
  padding-top: 10px;
}

.bottom {
  padding-bottom: 60px;
}

.loading {
  width: 100%;
  padding-top: 17px;
  display: flex;
}

.loading .line {
  border-radius: 6px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  animation: wave-lines 2s infinite ease-out;
}

.loading1 {
  flex: 2;
}

.loading .line:last-child {
  margin-bottom: 0;
}

.hw1 {
  height: 17px !important;
  margin-top: 11px !important;
  width: 23% !important;
}

.hm2 {
  margin-top: 20px;
  height: 35px;
}

.hw3 {
  height: 22px !important;
  margin-top: 19px !important;
  width: 100% !important;
}

.hw4 {
  height: 11px !important;
  margin-top: 19px !important;
  width: 57% !important;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media screen and (max-device-width: 480px) {
  .container-fluid {
    width: 350px;
  }
  span {
    font-size: 30px;
  }
  .app {
    padding: 32px 15px 32px 15px;
  }
}

@media screen and (max-device-width: 375px) {
  .container-fluid {
    width: 320px;
  }
  span {
    font-size: 27px;
  }
  .swap-btn {
    padding: 7px 16px 7px 16px;
  }
  .answer {
    font-size: 35px;
  }
  .hm2 {
    margin-top: 18px;
    height: 30px;
  }
}

@media screen and (max-device-width: 320px) {
  .container-fluid {
    width: 295px;
  }
  .app {
    padding: 30px 10px 30px 10px;
  }
  span {
    font-size: 26px;
  }
  .value {
    font-size: 18px;
  }
  .answer {
    font-size: 30px;
  }
  .rate {
    font-size: 20px;
  }
  .hm2 {
    height: 25px !important;
  }
  .hw1 {
    margin-top: 7px !important;
    height: 15px !important;
  }
  .hw3 {
    height: 20px !important;
    margin-top: 18px !important;
  }
}
